<form name="createForm" novalidate>
	<label class="col-sm-1 control-label" for="name">Name:</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" ng-model='newuser.name'
			ng-required="true" id="name">
	</div>
	<label class="col-sm-1 control-label" for="firstName">First
		Name:</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" ng-model='newuser.firstName'
			ng-required="true" id="firstName">
	</div>
	<div class="btn-group">
		<button class="btn btn-default  btn-sm" ng-click="addUser(newuser)"
			ng-disabled="createForm.$invalid" style="cursor: pointer;">Add</button>
		<button class="btn btn-default  btn-sm" ng-click="generateUsers()"
			style="cursor: pointer;">Generate Users</button>
		<button class="btn btn-default  btn-sm" ng-click="deleteAllUsers()"
			style="cursor: pointer;">Delete All Users</button>
	</div>
</form>