
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h2 class="text-center">Training CRUD</h2>
	</div>
</div>
<div class="row">
	<!-- DEFINITION DU CONTROLLER -->
	<div class="col-xs-8 col-xs-offset-2 panel-group"
		ng-controller='trainingController'>

		<!-- PANEL FORMULAIRE CREATION -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Training Create</h4>
			</div>
			<div class="panel-body">
				<div class="form-group form-group-sm">
					<trainingcreateform />
				</div>
			</div>
			<div class="panel-footer">
				<i>{{restCreateActionMessage}}</i>
			</div>
		</div>

		<!-- PANEL LISTE -->
		<div class="panel panel-default"  ng-show="trainingList.length > 0">
			<div class="panel-heading">
				<h4>Training List</h4>
			</div>

			<div class="panel-body">
				<traininglist />

			</div>
			<div class="panel-footer">
				<i>{{restDeleteActionMessage}}</i>
			</div>
		</div>
	</div>
</div>