<div class="row">
	<div class="col-xs-8 col-xs-offset-2 panel-group"
		ng-controller='metricsController'>



		<div id="Metrics" class="panel panel-default">
			<div class="panel-heading">
				<h4>Metrics</h4>
			</div>
			<div class="panel-body">
				<div class="form-group form-group-sm">
					<metricslist />
				</div>
			</div>
		</div>

		<div id="Health" class="panel panel-default">
			<div class="panel-heading">
				<h4>Health</h4>
			</div>
			<div class="panel-body">
				<div class="form-group form-group-sm">
					<healthlist />
				</div>
			</div>
		</div>

	</div>
</div>